.s2_carousel_button, .s2_carousel_card  {
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .swiper-slide:not(.swiper-slide-active) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active .s2_carousel_card {
      scale: 1.1;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .swiper-slide:not(.swiper-slide-active ) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active .s2_carousel_card {
      scale: 1.1;
  }
}

@media (max-width: 768px) {
  .swiper-slide:not(.swiper-slide-active) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active .s2_carousel_card {
      scale: 1.1;
  }
}
.swiper-slide-active {
    z-index: 1;
}

[data-wf--3d-carousel--variant="shrink"] .swiper-slide:hover .s2_carousel_button {
    opacity: 1;
    pointer-events: all;
}

[data-wf--3d-carousel--variant="shrink"] .s2_carousel_card:hover {
    scale: 1.1;
}

[data-wf--3d-carousel--variant="shrink"] .home-card {
    width: 100%;
    max-width: 34rem;
}

.iti--container {
    z-index: 9999;
}
/* .s2_carousel_button, .s2_carousel_card  {
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .swiper-slide:not(.swiper-slide-active + .swiper-slide + .swiper-slide) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active + .swiper-slide + .swiper-slide .s2_carousel_card {
      scale: 1.1;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .swiper-slide:not(.swiper-slide-active + .swiper-slide) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active + .swiper-slide .s2_carousel_card {
      scale: 1.1;
  }
}

@media (max-width: 768px) {
  .swiper-slide:not(.swiper-slide-active) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active .s2_carousel_card {
      scale: 1.1;
  }
} */

