.s2_carousel_button, .s2_carousel_card  {
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .swiper-slide:not(.swiper-slide-active) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active .s2_carousel_card {
      scale: 1.1;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .swiper-slide:not(.swiper-slide-active ) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active .s2_carousel_card {
      scale: 1.1;
  }
}

@media (max-width: 768px) {
  .swiper-slide:not(.swiper-slide-active) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active .s2_carousel_card {
      scale: 1.1;
  }
}

/* .s2_carousel_button, .s2_carousel_card  {
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .swiper-slide:not(.swiper-slide-active + .swiper-slide + .swiper-slide) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active + .swiper-slide + .swiper-slide .s2_carousel_card {
      scale: 1.1;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .swiper-slide:not(.swiper-slide-active + .swiper-slide) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active + .swiper-slide .s2_carousel_card {
      scale: 1.1;
  }
}

@media (max-width: 768px) {
  .swiper-slide:not(.swiper-slide-active) .s2_carousel_button {
      opacity: 0;
      pointer-events: none;
  }
  
  .swiper-slide-active .s2_carousel_card {
      scale: 1.1;
  }
} */

